// MY CSS
.vw100 {
    width: 100vw;
}

.vh100 {
    height: 100vh;
}

body,
html {
    background-color: #003049;
    overflow-x: hidden;
}

.w100pc {
    width: 100%;
}

.h100pc {
    height: 100%;
}

.card-title,
.card-text {
    text-decoration: none !important;

}



// VARIABLES
$primary: #f77f00;
$secondary: #d62828;
$light: #e1e6e1;
$dark: #003049;




// BOOTSTRAP
@import "./scss/bootstrap.scss"